html {
  background: linear-gradient(45deg, #ea00ff15, #00ffff15);
  background-size: 200% 100%;
  background-repeat: no-repeat;
  animation: gradient 60s ease infinite;
}

@keyframes gradient {
  0%,
  100% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 0 50%;
  }
}
body {
  // テキトーに設定
  font-family: "Noto Sans JP", sans-serif;
  font-size: 20px;
  line-height: 1.5;
  color: #08001e;
  background-color: #fefeff;

  max-width: 1000px;
  margin: 0 auto;
  padding: 15px;
  min-height: calc(100dvh - 30px);
  box-shadow: 0 0 70px #29009b11;
  overflow-x: hidden;
}
a {
  color: #8051ff;
  &:hover {
    text-decoration: none;
  }
}
main {
  position: relative;
  background-image: radial-gradient(
      circle at center,
      transparent,
      #fefeff 350px
    ),
    url("../assets/back.svg");
  background-size: 350px;
  background-position: center;
  background-repeat: no-repeat;
  min-height: calc(100svh - 140px);
  height: fit-content;
  z-index: 0;

  &:before {
    content: "";
    position: absolute;
    inset: 0;
    margin: auto;
    aspect-ratio: 1/1;
    width: 300px;
    border-radius: 9999px;
    background-color: #29009b50;
    filter: blur(120px);
    z-index: -1;
  }
}
table {
  width: 100%;
  border-collapse: collapse;
  font-size: medium;
  th,
  td {
    border-bottom: 3px solid #29009b;
    padding: 0.5rem;
    text-align: center;
  }
  th {
    border: 3px solid #fefeff;
    background-color: #29009b;
    color: #fefeff;
  }
}

.content {
  flex: 1;
  width: 100%;
  filter: drop-shadow(0 0 10px #fefeff) drop-shadow(0 0 10px #fefeff)
    drop-shadow(0 0 10px #fefeff);
  padding: 1rem;
  h1 {
    border-bottom: 3px solid #29009b;
    span {
      display: inline-block;
      transform: translateY(0.15em);
    }
  }
  h2 {
    margin: 0;
    width: 100%;
    text-align: center;
  }
  h3 {
    margin: 0;
    width: 100%;
    text-align: center;
  }
}
