---
import { Icon } from "astro-icon/components";
import Layout from "../layouts/Layout.astro";
---

<Layout title="物理部とは">
  <div class="content">
    <h1><span><Icon name="line-md:image" /></span>ATTO vol.54</h1>
    <p>
      ATTOとは物理研究部が部展で毎年発行している部誌のことです。今回でvol.54です。
      部員の研究内容を寄せ集めたものなので、身近なものから専門的なものまで多種多様な研究を読むことができます。ラー二ングスペースで500円で販売しております。
    </p>
  </div>
  <div class="content">
    <h2>マップ</h2>
    <p>ラーニングスペース場所</p>
  </div>
</Layout>
