---
import { Icon } from "astro-icon/components";
import Layout from "../layouts/Layout.astro";
import stF from "../assets/map/1F.svg";
import ndF from "../assets/map/2F.svg";
const room = [
  {
    name: "物理実験室",
    description: "FLL班の展示",
    floor: 1,
    x: 3,
    y: 21,
    width: 10.5,
    height: 16,
  },
  {
    name: "第二予備教室",
    description: "部内科学の甲子園",
    floor: 1,
    x: 43,
    y: 1,
    width: 6,
    height: 16,
    link: {
      title: "部内科甲の詳細へ",
      url: "/kako/",
    },
  },
  {
    name: "物理教室",
    description: "PC班展示(ゲーム, 3D)、　工学班展示、ATTO(部誌)の販売",
    floor: 1,
    x: 31,
    y: 1,
    width: 8,
    height: 15,
  },
  {
    name: "第四予備教室",
    description: "プラネタリウム",
    floor: 2,
    x: 15,
    y: 1,
    width: 6.5,
    height: 15,
  },
  {
    name: "生物教室",
    description:
      "数学班の部屋（自作問題の配布、採点など）、プラネタリウム整理券配布",
    floor: 1,
    x: 41,
    y: 21,
    width: 7,
    height: 16,
  },
];
---

<Layout title="展示内容">
  <div class="content">
    <h1><span><Icon name="line-md:cog" /></span>展示内容</h1>
    <div class="display">
      {
        room.map((r) => {
          return (
            <div class="item">
              <h2>{r.name}</h2>
              <p>{r.description}</p>
              {r.link && <a href={r.link.url}>{r.link.title}</a>}
            </div>
          );
        })
      }
    </div>
  </div>
  <style lang="scss">
    .content {
      filter: none;
    }
    .display {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
      gap: 20px;
      .item {
        h2 {
          text-align: left;
        }
        border: 3px solid #29009b;
        background-color: #fefeff70;
        padding: 10px;
        border-radius: 5px;
        transition:
          filter 0.5s ease,
          transform 0.5s ease;
        &:hover {
          filter: drop-shadow(0 0 50px #29009b40);
          transform: scale(0.98);
        }
      }
    }
  </style>
</Layout>
