---
import { Icon } from "astro-icon/components";
import Layout from "../layouts/Layout.astro";
---

<Layout title="物理部とは">
  <div class="content">
    <h1><span><Icon name="line-md:speed" /></span>物理部とは</h1>
    <p>
      栄光学園物理研究部は、PC班、数学班、工学班、航空力学班、地学班、競技科学班、FLL班の6つの班、総勢120人からなる栄光学園最大の部活です。<br
      />部活動では自由に部員たちが研究などの活動を行っています。　長期休暇には研究発表会を行い、部員たちが自分たちの研究についての発表・意見交換を行います。<br
      />入部１年目の中１には中１講義というものがあり、高校の先輩が物理等の基礎知識を教えてくれます。
    </p>
  </div>
  <div class="content">
    <h2>実績</h2>
    <table>
      <tr>
        <th>年度</th>
        <th>大会名</th>
        <th>成績</th>
      </tr>
      <tr>
        <td>2023年度</td>
        <td>科学の甲子園</td>
        <td>優勝</td>
      </tr>
      <tr>
        <td>2022年度</td>
        <td>科学の甲子園</td>
        <td>優勝</td>
      </tr>
      <tr>
        <td>2022年度</td>
        <td>World Robot Olympiad Senior</td>
        <td>日本優勝<br />世界6位</td>
      </tr>
      <tr>
        <td>2021年度</td>
        <td>FIRST LEGO League Challenge</td>
        <td>優勝</td>
      </tr>
    </table>
  </div>
</Layout>
