---
import { Icon } from "astro-icon/components";
import Layout from "../layouts/Layout.astro";
---

<Layout title="トップ">
  <div class="content">
    <h1><span><Icon name="line-md:compass" /></span>物理部展2024</h1>
    <p>
      第77回栄光祭催し物「物理部展2024」の特設ページです。物理部展の情報や物理部の活動を紹介しています。<br
      />栄光学園校舎の北棟で開催されます。ぜひお越しください！
    </p>
    <a href="/display/" class="top_btn">展示内容を見る</a>
  </div>
  <div class="content">
    <a
      class="twitter-timeline"
      data-height="500"
      data-lang="ja"
      data-theme="light"
      href="https://twitter.com/EikoPhysicsClub?ref_src=twsrc%5Etfw"
      target="_blank"
      rel="noopener noreferrer">@EikoPhysicsClubのポストを読み込み中...</a
    >
  </div>
</Layout>

<style lang="scss">
  .content {
    .twitter-timeline {
      font-size: 15px;
    }
    .top_btn {
      padding: 0.1rem 1rem;
      margin-top: 1rem;
      margin-inline: auto;
      width: fit-content;
      border-radius: 3px;
      color: #29009b;
      border: #29009b solid 3px;
      text-decoration: none;
      transition: 0.3s;
      display: flex;
      align-items: center;
      &:hover {
        background-color: #29009b;
        color: #fefeff;
      }
      &::after {
        content: ">";
        margin-left: 0.3rem;
        font-size: 1.5rem;
        font-weight: bold;
      }
    }
  }
</style>
<style is:global>
  .twitter-timeline > iframe {
    width: 100% !important;
    opacity: 0.8;
  }
  @media (max-width: 700px) {
    .twitter-timeline > iframe {
      width: 100% !important;
      height: 500px !important;
    }
  }
</style>
