---
import { Icon } from "astro-icon/components";
import Layout from "../layouts/Layout.astro";
---

<Layout title="部内科甲について">
  <div class="content">
    <h1><span><Icon name="line-md:calendar" /></span>部内科甲</h1>
    <p>
      部内科学の甲子園では物理部の中で科学の甲子園を行います。科学の甲子園とは文字通り日本の高校生を対象とした科学の大会のことです。毎年全国都道府県ごとの予選大会を行い、優勝したチームが県代表として全国大会に進出します。全国大会では1日目の筆記試験の他に2日目に実技競技があります。その実技競技の中の工作実技を模したものを文化祭で部員たちが取り組みます。
    </p>
  </div>
  <div class="content">
    <h2>スケジュール</h2>
    <table>
      <tr>
        <th>実施日</th>
        <th>試合</th>
        <th>時間</th>
        <th>チーム数</th>
      </tr>
      <tr>
        <td>1日目</td>
        <td>午前の部</td>
        <td>11:00~12:40</td>
        <td>6チーム</td>
      </tr>
      <tr>
        <td>1日目</td>
        <td>午後の部</td>
        <td>14:00~15:40</td>
        <td>6チーム</td>
      </tr>
      <tr>
        <td>2日目</td>
        <td>決勝</td>
        <td>11:00~13:00</td>
        <td>4チーム</td>
      </tr>
    </table>
  </div>
</Layout>
