---
import { Icon } from "astro-icon/components";
import Layout from "../layouts/Layout.astro";
---

<!-- 
  要素
部内科甲について

部内科学の甲子園では物理部の中で科学の甲子園を行います。　科学の甲子園とは文字通り日本の高校生を対象とした科学の大会のことです。毎年全国都道府県ごとの予選大会を行い、優勝したチームが県代表として全国大会に進出します。全国大会では1日目の筆記試験の他に2日目に実技競技があります。その実技競技の中の工作実技を模したものを文化祭で部員たちが取り組みます。

スケジュール　詳細決まったら教えて下さい
両日ともに
11:00 ~ 12:30
14:00 ~ 15:30

スケジュール
全部で（）チームあります

チームは期を縦断して、班をベースに決定されています。チームごとの人数は約（）人です。

予選第（）試合を除き、参加者に対して競技は開始（）分前に公開されます。
競技開始と同時に材料が配布され、約（）分準決勝・決勝は（）分の工作をしたのちに実演が行われます。
というように制限時間がとても厳しいので、チーム間の連携が見どころの1つです。

予選第（）試合では工学班の（）チームに自動で動く簡易的なロボットを作ってもらいます。
お題は当日の（）時に発表され、材料もそこで配布されます。


#	試合	チーム	時間
(1)	予選第 1 試合	1 2 3 4	1 日目 9:30~11:00
(2)	予選第 2 試合	5 6 7 8	1 日目 11:00~12:30
(3)	予選第 3 試合	9 10 11 12	1 日目 13:00~14:30
(4)	予選第 4 試合 (工学班特別試合)	13 14 15 16	1日目 14:30~16:00
(5)	準決勝第 1 試合	(3), (4)の勝利チーム	2日目 9:30~11:30
(6)	準決勝第 2 試合	(1), (2)の勝利チーム	2日目 11:30~13:30
(7)	決勝試合	(5), (6)の勝利チーム	2日目 14:00~16:00 -->
<Layout title="部内科甲について">
  <div class="content">
    <h1><span><Icon name="line-md:calendar" /></span>部内科甲について</h1>
    <p>
      部内科学の甲子園では物理部の中で科学の甲子園を行います。科学の甲子園とは文字通り日本の高校生を対象とした科学の大会のことです。毎年全国都道府県ごとの予選大会を行い、優勝したチームが県代表として全国大会に進出します。全国大会では1日目の筆記試験の他に2日目に実技競技があります。その実技競技の中の工作実技を模したものを文化祭で部員たちが取り組みます。
    </p>
    <h2>スケジュール</h2>
    <table>
      <tr>
        <th>日時</th>
        <th>内容</th>
      </tr>
      <tr>
        <td>両日ともに</td>
        <td>11:00 ~ 12:30<br />14:00 ~ 15:30</td>
      </tr>
    </table>
  </div>
  <div class="content">
    <h2>チーム</h2>
    <table>
      <tr>
        <th>試合</th>
        <th>チーム</th>
        <th>時間</th>
      </tr>
      <tr>
        <td>予選第 1 試合</td>
        <td>1 2 3 4</td>
        <td>1 日目 9:30~11:00</td>
      </tr>
      <tr>
        <td>予選第 2 試合</td>
        <td>5 6 7 8</td>
        <td>1 日目 11:00~12:30</td>
      </tr>
      <tr>
        <td>予選第 3 試合</td>
        <td>9 10 11 12</td>
        <td>1 日目 13:00~14:30</td>
      </tr>
      <tr>
        <td>予選第 4 試合 (工学班特別試合)</td>
        <td>13 14 15 16</td>
        <td>1日目 14:30~16:00</td>
      </tr>
      <tr>
        <td>準決勝第 1 試合</td>
        <td>(3), (4)の勝利チーム</td>
        <td>2日目 9:30~11:30</td>
      </tr>
      <tr>
        <td>準決勝第 2 試合</td>
        <td>(1), (2)の勝利チーム</td>
        <td>2日目 11:30~13:30</td>
      </tr>
      <tr>
        <td>決勝試合</td>
        <td>(5), (6)の勝利チーム</td>
        <td>2日目 14:00~16:00</td>
      </tr>
    </table>
  </div>

  <style lang="scss">
    .content {
      flex: 1;
      width: 100%;
      filter: drop-shadow(0 0 10px #fefeff) drop-shadow(0 0 10px #fefeff)
        drop-shadow(0 0 10px #fefeff);
      padding: 1rem;
      h1 {
        border-bottom: 3px solid #29009b;
        span {
          display: inline-block;
          transform: translateY(0.15em);
        }
      }
      h2 {
        margin: 0;
        width: 100%;
        text-align: center;
      }
      table {
        width: 100%;
        border-collapse: collapse;
        th,
        td {
          border-bottom: 3px solid #29009b;
          padding: 0.5rem;
          text-align: center;
        }
        th {
          border: 3px solid #fefeff;
          background-color: #29009b;
          color: #fefeff;
        }
      }
    }
  </style>
</Layout>
