---
import "../styles/global.scss";
interface Props {
	title: string;
}
const title =
  Astro.props.title === "トップ"
    ? "物理部展-第77回栄光祭"
    : Astro.props.title + " | 物理部展-第77回栄光祭";
---

<!doctype html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>